<%- include partials/header.ejs -%>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="" id="icon" alt="User Icon" />
                <h1>Aditya News</h1>
            </div>

            <!-- Login Form -->
            <form action="/login" method="POST">
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">
                <input type="submit" class="fadeIn fourth">
            </form>


        </div>
    </div>

    <%- include partials/footer.ejs -%>